{{#mol-search-form}}
    <form action="" class="w-100 d-flex">
        <input class="search-input" type="search" />
        <input class="search-btn" type="submit" value="search" />
    </form>
{{/mol-search-form}}