/* Variables */
$fontPath: '../fonts/';

/* Font faces */
@font-face {
  font-family: 'font-name';
  src: url('#{$fontPath}/font-name.font-extension') format('format');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('#{$fontPath}/Montserrat/Montserrat-ExtraBold.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-ExtraBold.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('#{$fontPath}/Montserrat/Montserrat-Light.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Light.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Light.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Light.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('#{$fontPath}/Montserrat/Montserrat-Medium.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Medium.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Medium.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('#{$fontPath}/Montserrat/Montserrat-Regular.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Regular.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Regular.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('#{$fontPath}/Montserrat/Montserrat-SemiBold.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-SemiBold.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Thin';
  src: url('#{$fontPath}/Montserrat/Montserrat-Thin.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Thin.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Thin.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Thin.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Black';
  src: url('#{$fontPath}/Montserrat/Montserrat-Black.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Black.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Black.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Black.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('#{$fontPath}/Montserrat/Montserrat-Bold.eot');
  src: url('#{$fontPath}/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('#{$fontPath}/Montserrat/Montserrat-Bold.woff') format('woff'),
  url('#{$fontPath}/Montserrat/Montserrat-Bold.ttf') format('truetype'),
  url('#{$fontPath}/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}