{{#org-404-content}}
    <section class="content-404">
        <div class="container">
            <div class="maxw-630px m-auto">
                {{> ../molecules/title-h2-default}}
                <h2 class="style-404">404</h2>
                <p>You can go back to <a href="#">Main</a></p>
            </div>
        </div>
    </section>
{{/org-404-content}}