body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat-Regular";
  background-color: #fbfcfb;
}

.header-info-line {
  background-color: #191e26;
  padding: 10px 0;
  position: fixed;
  z-index: 99999;
  width: 100%; 
  top: 0;
  &__left-col {
    p {
      color: #fff;
      font-size: 16px;
      margin: 0;
    }

    a {
      color: #82aede;
      border: 2px solid #82aede;
      padding: 4px 20px;
      transition: all .2s ease-in-out;
      font-family: "Montserrat-Medium";
      &:hover {
        text-decoration: none;
        cursor: pointer;
        background-color: #82aede;
        color: #fff;
      }
    }
  }

  &__right-col {
    form {
      .search-input {
        border: 0;
        width: 100%;
        height: 30px;
        padding-left: 40px;
        outline: none;
        font-size: 16px;
        background-image: url('../img/pre-serach-ico.jpg');
        background-size: 17px 17px;
        background-position: 15px center;
        background-repeat: no-repeat;
      }

      .search-btn {
        border: 0;
        background-color: #82aede;
        outline: none;
        color: #fff;
        padding: 0;
        width: 130px;
        font-family: "Montserrat-Regular";
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}


.nav_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px 0;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 2px 15px #333;
  transition: top .5s ease-out;
}

.scroll {
  top: -150px;
}

.no-scroll {
  top: 0;
  z-index: 9999;
}

.btn {
  padding: 10px 1%;
  margin: 5px;
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  transition: all 0.1s ease;
}

.btn:hover {
  transition: all 0.1s ease;
}

.menu-link {
  display: none;
}

.spinner-master input[type=checkbox] {
  display: none !important;
}

.menu-header {
  width: auto;
  height: auto;

  transition: all 0.3s ease;
}

.menu-header ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-block;
}

.menu-header > li > ul.sub_menu {
  min-width: 10em;
  padding: 4px 0;
  background-color: #f4f4f4;
  border: 1px solid #fff;
}

.menu-header ul li {
  padding: 0px;
}

.menu-header > ul > li {
  display: inline-block;
}

.menu-header ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Montserrat-Medium";
  border-bottom: 2px solid transparent;
  transition: all .2s ease-in-out;
  &:hover {
    color: #82aede !important;
    border-bottom: 2px solid #82aede;
  }
}

.menu-header ul li a:hover {
  background: #fff;
  color: #000;
}

.menu-header ul li.hover > a {
  background: #fff;
  color: #000;
}

.menu-header ul li > a {
  padding: 15px;
}

.menu-header ul ul {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  box-shadow: 0 3px 2px #ccc;
  background-color: #fff;
}

.menu-header ul li:hover > ul {
  display: block;
}

.menu-header ul ul > li {
  position: relative;
}

.menu-header ul ul > li a {
  padding: 10px 15px;
  height: auto;
  font-family: "Montserrat-Regular";
  text-transform: inherit;
  &:hover {
    border-bottom: 2px solid transparent;
  }
}

.menu-header ul ul > li a:hover {
  background: #fff;
  color: #000;
}

.menu-header ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}




.spinner-spin {
  margin: 0;
  display: table;
}

.logotype {
  display: flex;
  align-items: center;
}


.main-slider {
  &__slide-item {
    background-image: url(assets/img/slide-1.jpg);
   outline: none;
    min-height: 900px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex !important;
    align-items: center !important;
    &__slide-info {
      h2 {
        font-size: 60px;
        font-family: "Montserrat-Light";
        color: #191f26;
      }
    }
  }
}

.blue-btn-style {
  background-color: #82aede;
  color: #fff;
  font-family: "Montserrat-Bold";
  font-size: 20px;
  text-align: center;
  width: 260px;
  height: 47px;
  align-items: center;
  justify-content: center;
  display: flex;
  outline: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}


.mt-45 {
  margin-top: 45px;
}

.slick-next {
 right: 25px;
  z-index: 9;
}

.slick-prev {
  left: 25px;
  z-index: 9;
}

.slick-prev, .slick-next {
  height: auto;
}

.blocks-under-slider {
  .wrapp-items-block {
      display: flex; 
      flex-wrap: wrap;
    
    .item-wrapp {
      background-color: #fff;
      padding: 28px 20px;
      img {
       
      }
  
      h3 {
        font-family: "Montserrat-Bold";
        font-size: 20px;
        margin-top: 20px;
      }
  
      p {
        font-size: 16px;
        font-family: "Montserrat-Light";
      }
    }
  }  
}

.popular-courses {
  .courses-wrapper {
    display: flex;
    flex-wrap: wrap;
    .courses-item {      
      position: relative;    
      margin-bottom: 50px;
      .price-item {
        position: absolute;        
        top:0;
        right: 55px;
        background-color: #1e242c;
        padding: 10px 5px;
        
        p {
          color: #fff;
          text-decoration: line-through;
          margin-bottom: 0;
          font-size: 12px;
        }

        span {
          color: #82aede;
          font-size: 20px;
          
        }
      }

      img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
      }

      .item-title {  
        display: flex;      
        align-items: center;
        img {
          display: block;
          width: 100%;
          max-width: 28px;
          object-fit: contain;
          margin-right: 15px;
        }
        a {
          text-decoration: none;
          color: #000;
          h3 {
            margin: 0;
            font-family: "Montserrat-Bold";
            font-size: 20px;
          }
        }
        
      }

      .author-review {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          margin: 0;
        }

        .review-item {
          img {
            width: 100px;
          }
        }
      }
    }
  }
}

.title-h2-default {
  font-size: 66px;
  font-family: "Montserrat-Medium";
  text-align: center;
  text-transform: uppercase;
  margin: 90px 0;
}

.button-more-slide {
  height: 0;
  overflow: hidden;
 
  background-color: #fff;
  position: absolute;
}

.courses-item:hover .button-more-slide {
    height: 60px;
    position: absolute;
    transition: all .2s ease-in-out;
    z-index: 999;
    width: calc(100% - 30px);
    box-shadow: 0 3px 5px #ccc;
    background-color: #fff;
}


.box-shadow-style {
  box-shadow: 0 3px 5px #ccc;
}







/*Hover Fall Effect*/
.fall-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.fall-item .mask,.fall-item .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.fall-item img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.fall-effect .mask {
  background-color: rgba(25,31,38,.7);
  top: -200px;
  display: flex;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  align-items: center;
  justify-content: center;
}

.fall-effect a {
  -webkit-transform: translateY(-200px);
  -moz-transform: translateY(-200px);
  -o-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all 0.2s ease-in-out 0.3s;
  -moz-transition: all 0.2s ease-in-out 0.3s;
  -o-transition: all 0.2s ease-in-out 0.3s;
  -ms-transition: all 0.2s ease-in-out 0.3s;
  transition: all 0.2s ease-in-out 0.3s;
}
.fall-effect:hover .mask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0px;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;

}

.fall-effect:hover a {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.programs-container {
  
  .programs-wrapper {
    display: flex;
    .program-item {
      width: 100%;
      max-width: 300px;
      padding: 0;
      img {

      }

      .h2-program-title {
        position: absolute;
        background-color: rgba(25, 31, 38, 0.7);
        top: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        z-index: 99;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat-Medium";
        font-size: 20px;
        height: 60px;
        color: #fff;
      }

      .mask {
        cursor: pointer;
        transition: all .2s ease-in-out;
        a {
          width: 70%;
          font-family: "Montserrat-Medium";
        }
      }
    }
  }
}

.subscribe-container {
  
  background-repeat: no-repeat;
  background-size: cover; 
  padding: 80px 0;
  margin: 140px 0;
  .subscribe-inner-wrap {
    width: 100%;
    max-width: 895px;
    display: block;
    margin: 0 auto;
    h2 {
      margin: 0 0 35px 0;
    }
  
    h4 {
      color: #fff;
      font-family: "Montserrat-Medium";
      font-size: 20px;
      text-align: center;
    }
  
    form {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      width: 100%;
      input {
        width: 100%;
        outline: none;
        padding-left: 20px;
        max-width: 535px;
        height: 50px;

      }
  
      input.subscribe-btn {
        width: 180px;
        height: 50px;
        background-color: #82aede;
        color: #fff;
        padding: 0;
        text-align: center;
        font-family: "Montserrat-Medium";
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;

      }
    }
  }  
}

.color-white {
  color: #fff;
}


.academy-container {
  .academy-wrapper {
    display: flex;
    flex-wrap: wrap;
    &__item {
      display: flex;
      margin: 35px 0;
      justify-content: center;
      img {
        object-fit: contain;
      }

      &__info {
        border-left: 2px solid #82aede;
        margin-left: 20px;
        min-width: 315px;
        padding-left: 10px;
        span {
          font-size: 38px;
          font-family: "Montserrat-Bold";
        }

        h2 {
          font-size: 38px;
          font-family: "Montserrat-Light";
          margin: 0;
        }
      }
    }
  }
}

.copyright {
  padding-right: 0;
}

.recent-posts-container {
  margin: 70px 0;
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    &__item {
      transition: all .2s ease-in-out; 
      margin-bottom: 30px;
      div {
        position: relative;
        a {
          img {
            width: 100%;
          }
        }

        .post-info {
          background-color: rgba(25, 31, 38, 0.7);
          padding: 20px 30px;
          width: 100%;
          position: absolute;
          transition: all .2s ease-in-out; 
          bottom: 0;
          a {
            color: #fff;
            font-family: "Montserrat-Bold";
            font-size: 20px;
            display: block;
            width: 100%;
            text-decoration: none;
            outline: none;
          }

          span {
            color: #fff;
            font-family: "Montserrat-Light";
            font-size: 16px;
          }
        }
      }
    }
  }
}


.recent-posts-container__wrapper__item:hover .post-info {
  padding-bottom: 40px;
  transition: all .2s ease-in-out;  
}

.footer-container {
  background-color: #191e26;
  padding: 20px 0;
  display: flex;
  .copyright {
    p {
      color: #fff;
      font-size: 16px;
      font-family: "Montserrat-Light";
      margin: 0;
    }
  }

  &__menu {
    padding-left: 0;
    ul {
      padding-left: 0;
      display: flex;
      margin: 0;
      li {
        list-style: none;
        margin: 0 7px;
        a {
          font-size: 16px;
          font-family: "Montserrat-Light";
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          outline: none;
          transition: all .2s ease-in-out;
          &:hover {
            color: #82aede;
          }
        }
      }
    }
  }

  &__social {
    margin-left: 20px;
    a {
      margin: 0 8px;
      i {
        color: #fff;
        font-size: 18px;
        transition: all .2s ease-in-out;
        &:hover {
          color: #82aede;
        }
      }
    }
  }
}

.btn-margin-top {
  margin-top: 30px !important;
}

.current-menu-item {
  a {
    color: #82aede !important;
    border-bottom: 2px solid #82aede !important;
  }
}

.select-container {
  position: relative;
}

.select-container > select {
  font-size: 16px;
  padding: 0 30px 0 20px;
  float: right;
  width: 100%;
  color: #333;
  max-width: 300px;
  height: 30px;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 0;
  -ms-word-break: normal;
  word-break: normal;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.style-filter .select-container:after {
    position: absolute;
    content: '\f078';
    font-family: FontAwesome;
    color: #82aede;
    right: 0;
    padding: 3px 5px;
    border-left: none;
    pointer-events: none;
}

.select-container select::-ms-expand {
  display: none;
}

.select-container select:focus {
  outline: none;
}

.courses-filter-container {
  background-color: #f4f4f2;
  padding: 15px 0;
  .filter-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-style {
      form {
        display:flex;
        input {
          border: none;
          background-color: #fff;
          height: 30px;
          width: 100%;
          max-width: 325px;
          outline: none;
          padding-left: 20px;
          font-family: "Montserrat-Light";
          font-size: 16px;
          color: #000;
        }
  
        .search-btn-style {
          background-color: #82aede;
          color: #fff;
          width: 100%;
          font-family: "Montserrat-Regular";
          font-size: 20px;
          line-height: 0;
          padding: 0;
          max-width: 130px;
        }
      }
    }
    
  }
}

.bg-single {
  img {
    width: 100%;
  }
}

.single-main-video {
  width: 100%;
  height: auto;
  display: block;
}

.sidebar-info {
  margin-bottom: 30px;
  &__price-block {
    p {
      font-family: Montserrat-Bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-family: 'Montserrat-Light';
        font-size: 16px;
        text-decoration: line-through;
      }

      .new-price {
        font-family: 'Montserrat-Bold';
        font-size: 30px;
        color: #82aede;
      }

      a {

      }
    }
  }

  ul {
    padding: 0;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    li {
      font-size: 16px;
      font-family: 'Montserrat-Light';
      list-style: none;
      position: relative;
      padding-left: 20px;
      margin: 10px 0;
      &:before {
        content: '';        
        width: 12px;
        display: block;
        position: absolute;
        height: 2px;
        top: 10px;
        background-color: #82aede;
        left: 0;
      }
    }
  }

  &__privilages {
    border-bottom: 1px solid #eee;
    &__item {
      display: flex;
      align-items: center;
      margin: 20px 0;
      img {
        margin-right: 20px;
      }

      &__info {       
        span {
          font-size: 16px;
          font-family: 'Montserrat-Medium';
          color: #8d8c92;
        }

        p {
          font-size: 16px;
          font-family: 'Montserrat-Medium';
          color: #191f26;
          margin: 0;
        }
      }
    }
  }

  &__socials {
    margin-top: 20px;
    a {
      margin: 0px 10px;
      
      
      
      img {
        transition: all .1s ease-in-out;
        top: 0;
        position: relative;
        &:hover {
          top: -5px;
        }
      }
    }
  }
}

.height-auto {
  height: auto !important;
}

.author-info {
  img {
    border-radius: 50%;
    margin-right: 50px;    
  }

  &__about {    
    h2 {
      font-size: 30px;
      font-family: 'Montserrat-Bold';
      color: #82aede;
    }   

    &__courses-counter {
      display: flex;
      align-items: center;
      img {
        margin-right: 7px;
      }

      span {
        font-family: 'Montserrat-Medium';
        font-size: 20px;
      }
    }
  }

  &__text-content {
    margin-top: 30px;
    p {
      font-family: 'Montserrat-Light';
      font-size: 16px;
      color: #000;
    }

    a {
      font-family: 'Montserrat-Light';
      font-size: 16px;
      color: #82aede;
      outline: none;
    }

    strong {
      font-family: 'Montserrat-Regular';
      color: #82aede;
    }
    
    h4 {
      font-size: 20px;
      font-family: 'Montserrat-Medium';
      color: #000;
    }

    ul {
      padding: 0;
      margin-top: 10px;
      padding-bottom: 10px;     
      margin-bottom: 0;
      max-width: 50%;      
      li {
        font-size: 16px;
        font-family: Montserrat-Light;
        list-style: none;
        position: relative;
        padding-left: 20px;
        margin: 10px 0;
        &:before {
          content: '';
          width: 12px;
          display: block;
          position: absolute;
          height: 2px;
          top: 10px;
          background-color: #82aede;
          left: 0;
        }
      }
    }
  }
}

.accordion {
  font-size: 1rem;  
  margin: 50px auto 0;
  border-radius: 5px;
 
}

.accordion-header {
  padding: 15px 15px 15px 35px;
  color: #000;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 600;
  transition: all .3s;
}

.accordion-header:hover {
  
  position: relative;
  z-index: 5;
}

.accordion-body {
  
  color: #3f3c3c;
  display: none;
}

.accordion-body__contents {
  padding: 0 0 20px 100px;
    font-size: 1rem;
}

.accordion__item {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion__item .bullet-toggle:after {
  content: url(../img/triangle-unactive.png);
  position: relative;
  margin-right: 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.accordion__item.active .bullet-toggle:after {
  transform: rotate(-180deg);
}

// NEW ACCORDION

.single-courses-accordion {
  margin-top: 150px;
  margin-bottom: 50px;
  .accordion-main-title {
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Montserrat-Medium';
    text-transform: uppercase;
  }

  .accordion {
    h4 {
      font-size: 20px;
      font-family: 'Montserrat-Bold';
      color: #82aede;
    }
    .accordion__item {
      box-shadow: 0px 3px 15px #ccc;
      border: none;
      margin: 15px 0;
      .accordion-header {
        .bullet-toggle {
          img {
            width: 25px;            
            object-fit: contain;
            margin-right: 12px;
            border-radius: 0;
          }

          p {
            font-size: 16px;
            font-family: Montserrat-Light;
            line-height: 30px;
          }
        }

        .right-access {
          .icon-wrap {
            display: flex;
            align-items: center;
            margin-left: 40px;
            
            &:last-child {
              img {
                margin-right: 0;
              }
            }
            &:first-child {
              margin-left: 15px;
              min-width: 125px;
            }
            img {
              width: 19px;            
              object-fit: contain;              
              border-radius: 0;
              margin-right: 10px;              
            }

            span {
              font-size: 16px;
              font-family: 'Montserrat-Light';
              margin-left: 10px;
            }

            span.spoiler {
              background-color: #6b6b71;
              font-size: 16px;
              text-transform: uppercase;
              color: #fff;
              padding: 5px 10px;
              font-family: 'Montserrat-Light';
            }
          }
        }
      }
      .accordion-body {
        &__contents {
          padding: 15px;
          p {

          }

          a {

          }

          strong {

          }

          video {

          }
        } 
      }
    }
  }
}

























.desctop-version {
  display: block;
}

.mobile-version {
  display: none;
}



.single-courses-accordion {
  counter-reset: my-counter;
}

.single-courses-accordion  > .js-accordion .js-accordion-item:before {
  counter-increment: my-counter;
  content: counter(my-counter);
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 18px;
  font-family: 'Montserrat-Medium'; 
}

.accordion__item {
  position: relative;
}

.progress-course {
  padding: 15px 15px 15px 35px;  
  box-shadow: 0 3px 15px #ccc;
  border: none;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.progress-label {
  color: #82aede;
  font-family: 'Montserrat-Light';
  font-size: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 30px;
}

.progress-main {
  display: block;
  width: 100%;
  height: 15px;
  background-color: #e6e6e6;
}
.progress-main::-moz-progress-bar { 
    background: #e6e6e6;
}
.progress-main::-webkit-progress-bar {
    
  background-color: #e6e6e6;
}
.progress-main::-webkit-progress-value {
    background: #82aede;
}
.progress-main::-ms-fill { 
    background: #82aede;    
}






.h3-default {
  font-size: 30px;
  font-family: 'Montserrat-Medium';
  text-transform: uppercase;
}

.review-block {
  
  &__rating {  
    h2 {
      font-size: 30px;
      font-family: 'Montserrat-Light';
    }

    &__count {
      font-size: 80px;
      font-family: Montserrat-Bold;
      color: #82aede;
      width: 100%;
      text-align: center;
      margin-top: 50px;
      line-height: 60px;
      display: block;
    }

    &__stars {
      text-align: center;
      display: block;
      margin-top: 20px;
      img {

      }

      p {
        margin-top: 30px;
      }
    }
  }

  &__progress {
    h2 {
      font-size: 30px;
      font-family: 'Montserrat-Light';
    }

    &__rate-result {
      &__item {
        margin: 10px 0;
        strong {
          font-family: 'Montserrat-Regular';
          font-size: 20px;
          margin-right: 20px;
          min-width: 68px;
        }

        &__progress {
          width: 185px;
          margin-right: 20px;
        }

        span {
          font-family: 'Montserrat-Light';
          font-size: 20px;
        }
      }
    }
  }
}


.review-comments {
  margin-bottom: 60px;
  margin-top: 60px;
  &__item {
    border-top: 1px solid #e1e0e1;
    padding: 20px 0;
    &:last-child {
      border-bottom: 1px solid #e1e0e1;
    }
    h5 {
      font-size: 20px;
      font-family: 'Montserrat-Medium';
    }

    .time-and-stars {
      display: flex;
      align-items: center;
      div {
        display: flex;
        align-items: center;
        margin-right: 20px;
        img {
          max-width: 140px;

        }
      }
      span {
        font-family: 'Montserrat-Light';
        font-size: 16px;
      }
    }

    &__content {
      margin-top: 20px;
      p, a, strong {
        font-family: 'Montserrat-Light';
        font-size: 16px;
        margin: 0;
      }
    }
  }
}

.star-rating{
	font-size: 0;
}
.star-rating__wrap{
	display: inline-block;
	font-size: 1rem;
}
.star-rating__wrap:after{
	content: "";
	display: table;
	clear: both;
}
.star-rating__ico{
	float: right;
	padding-left: 2px;
	cursor: pointer;
  color: #f8f074;
  margin-bottom: 0;
}
.star-rating__ico:last-child{
	padding-left: 0;
}
.star-rating__input{
	display: none;
}
.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before
{
	content: "\f005";
}



.add-comment-container {
  padding: 50px 0;
  background-color: #f4f4f2;
  .add-comment {
  
    h4 {
      font-family: 'Montserrat-Medium';
      font-size: 20px;
      margin-bottom: 25px;
    }
  
    form {
      width: 100%;
      max-width: 700px;
      input {
        width: calc(50% - 10px);
        outline: none;
        padding-left: 20px;
        height: 30px;
        border: none;
      }
  
      textarea {
        width: 100%;
        outline: none;
        padding-left: 20px;        
        border: none;
      }
  
      .review-btn {
        width: 140px;
        margin-top: 20px;
        float: right;
        background-color: #82aede;
        color: #fff;
        font-size: 20px;
        font-family: 'Montserrat-Regular';
        text-transform: uppercase;
        line-height: 33px;
        padding: 0;
        cursor: pointer;
      }

      .rating-choose {
        margin-top: 35px;
        margin-bottom: 20px;
        p {
          font-family: 'Montserrat-Medium';
          font-size: 16px;
          margin-right: 20px;
          margin-bottom: 0;
        }
      }
    }
  }
}


.view-courses-block {
  padding: 80px 0;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-size: 66px;
    color: #fff;
    font-family: 'Montserrat-Medium';
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat-Regular';
  }

  a {
    margin-top: 35px;
  }
}

.t-140 {
  margin-top: -140px;
}

.about-content-container {
  &__wrapper {
    padding: 45px 0;
    &:nth-child(odd) {
      display: flex;
      flex-direction: row-reverse;      
    }
    &__item {
      
      h3 {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
      }

      p {
        font-family: 'Montserrat-Light';
        font-size: 16px;
      }

      a {
        font-family: 'Montserrat-Light';
        font-size: 16px;
        color: #000;
      }

      strong {
        font-family: 'Montserrat-Bold';
        font-size: 16px;
      }

      img {
        width: 100%;      
      }
    }
  }
}


.testimonials-container {
  padding-bottom: 70px;
  &__wrapper {
    &__item {
      margin: 25px 0;
      padding: 25px 0;
      background-color: #fff;
      img {
        border-radius: 50%;
      }

      .user-name {
        font-family: 'Montserrat-Bold';
        font-size: 20px;
        margin: 30px 0 10px;
      }

      .position-user {
        font-size: 14px;
        font-family: 'Montserrat-Light';
      }

      p {
        font-size: 16px;
        font-family: 'Montserrat-Light';
        margin-top: 30px;
        margin-bottom: 0;
        a {
          font-size: 16px;
          font-family: 'Montserrat-Light';
          color: #000;
        }
  
        strong {
          font-size: 16px;
          font-family: 'Montserrat-Bold';         
        }
      }
    }
  }
}


















@media all and (max-width: 992px) {

  .testimonials-container__wrapper__item {
    margin: 25px 0;
    padding: 25px 0;    
    background-color: #fff;
  }


  .about-content-container__wrapper {
    padding: 10px 0;
  } 

  .about-content-container__wrapper__item {
     h3 {
    font-size: 16px;    
    }

    p {
      font-size: 12px;
    }
  }
  
  .add-comment-container .add-comment form input {
    width: 100%;
    margin-bottom: 10px;
  }

  .view-courses-block {
    padding: 30px 0;
  }

  .footer-container .copyright p {
    font-size: 12px;
  }

  .view-courses-block a {
    margin-top: 5px;
}

  .view-courses-block {
    background-position: center;
  }

  .view-courses-block h2 {
    font-size: 20px;
    font-family: 'Montserrat-Medium';
    margin-bottom: 15px;
  }

  .view-courses-block p {
    font-size: 12px;
    text-align: center;
  }

  .add-comment-container .add-comment h4, .add-comment-container .add-comment form .review-btn {
    font-size: 16px;
  }
  .add-comment-container .add-comment form input, .add-comment-container .add-comment form .rating-choose p, .add-comment-container .add-comment form textarea {
    font-size: 12px;
  }
  .review-comments__item h5 {
    font-size: 16px;
  }

  .review-comments__item .time-and-stars div img {
    max-width: 100px;
  } 

  .single-courses-accordion .accordion .accordion__item .accordion-header .bullet-toggle p {
    font-size: 12px;
    line-height: 20px;
  }

  .review-comments__item__content a, .review-comments__item__content p, .review-comments__item__content strong, .review-comments__item .time-and-stars span {
    font-size: 12px;
  }
  .review-comments__item__content {
    margin-top: 10px;
  }

  .single-courses-accordion .accordion .accordion__item .accordion-header .bullet-toggle img {
    width: 18px;
    height: 18px;
  }

  .h3-default {
    font-size: 20px;
  }

  .review-block__progress__rate-result__item strong, .review-block__progress__rate-result__item span {
    font-size: 12px;
  }

  .review-block__progress__rate-result__item strong {
    min-width: 45px;
  }

  .review-block__rating__stars p {
    font-size: 14px;
  }

  .review-block__rating h2, .review-block__progress h2 {
    font-size: 16px;
  }

  .review-block__rating__count {
    font-size: 72px;
  }

  .accordion-header {
    padding: 10px 10px 10px 25px;
  }

  .accordion__item .bullet-toggle:after {
    margin-right: 0;
    top: -5px;
  }

  .single-courses-accordion>.js-accordion .js-accordion-item:before {
    counter-increment: my-counter;
    content: counter(my-counter);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    font-family: Montserrat-Bold;
}

  .single-courses-accordion .accordion .accordion__item .accordion-header .right-access .icon-wrap span {
    font-size: 12px;
    font-family: Montserrat-Light;
    margin-left: 8px;
}

  .accordion-header {
    flex-direction: column;
  }

 .bullet-toggle {
   width: 100%;
 }

  .single-courses-accordion .accordion .accordion__item .accordion-header .right-access .icon-wrap:first-child {
    margin-left: 0;
  }

  .single-courses-accordion .accordion h4 {
    font-size: 16px;
  }

  .single-courses-accordion .accordion .accordion__item .accordion-header .right-access .icon-wrap span.spoiler {
    font-size: 12px;
    margin-left: 0;
  }

  .accordion-body__contents {
    p {
      font-size: 12px;
    }
  }

  .single-courses-accordion {
    margin-top: 70px;
  }

  .progress-label {    
    font-size: 16px;    
    margin-bottom: 10px;
    margin-left: 0;
}

.single-courses-accordion .accordion-main-title {
  margin-bottom: 0;
  font-size: 20px;
}

  .progress-course {
    padding: 15px;
    flex-direction: column-reverse;
  }

  .right-access {
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
  }

  .author-info__about h2 {
    font-size: 20px;
  }

  .author-info__about__courses-counter span, .author-info__text-content h4 {
    font-size: 16px;
  }

  .author-info img {
    margin-right: 20px;
    max-width: 100px;
  }

  .author-info__text-content p, .author-info__text-content a, .author-info__text-content strong, .author-info__text-content ul li {
    font-size: 12px;
  }

  .author-info__about__courses-counter img {
    margin-right: 7px;
  }

  .author-info__text-content ul {
    max-width: none;
  }

  .desctop-version {
    display: none;
  }

  .mobile-version {
    display: block;
    padding: 0;
  }


  .sidebar-info__privilages__item__info span {
    font-size: 12px;
  }

  .sidebar-info__privilages__item__info p {
    font-size: 12px;
  }

  .sidebar-info ul li {
    font-size: 12px;
  }
  .sidebar-info__price-block {
    a {
      width: 100%;
      max-width: none;
    }
    p {
      font-size: 16px;
      span {
        font-size: 16px;
      }
  
      .new-price {
        font-size: 18px;
      }
    }
  }
   
  .subscribe-container {
    margin: 70px 0;
  }

  .recent-posts-container__wrapper__item {
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
    padding: 0 5px;
    max-height: 300px;
}

.recent-posts-container__wrapper__item div .post-info {
  background-color: rgba(25,31,38,.7);
  padding: 5px 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: all .2s ease-in-out;
  a {
    font-size: 10px;
  }
  span {
    font-size: 8px;
  }
} 
  .academy-container .academy-wrapper__item {
    margin: 20px 0;
    &__info {
      align-items: center;
      display: flex;
      min-width: 170px;
      span {
        font-size: 16px;
        width: 100%;
      }
  
      h2 {
        font-size: 16px;
      }
    }
  }
  

  
  .academy-container .academy-wrapper__item img {
    max-width: 90px;
  }
  

  .subscribe-container .subscribe-inner-wrap h4 {
    font-size: 12px;
  }
  .programs-container .programs-wrapper .program-item .h2-program-title {
    font-size: 14px;
    height: 50px;
  }

  .programs-container .programs-wrapper .program-item {
    width: 100%;
    max-width: none;
    margin: 0 5px;
    max-height: 320px;
    padding: 0;
}
  .title-h2-default {
    font-size: 20px;
    font-family: Montserrat-Medium;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

  .spinner-master * {
    transition: all 0.3s;
    box-sizing: border-box;
  }

  .spinner-master {
    position: relative;
    margin: 0px;
    height: 30px;
    width: 30px;
    float: right;
  }

  .spinner-master label {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 2px;
    left: 0;
  }

  .spinner-master .spinner {
    position: absolute;
    height: 2px;
    width: 100%;
    margin: 2px 0;
    padding: 0;
    background-color: #000;
  }

  .spinner-master .diagonal.part-1 {
    position: relative;
    float: left;
  }

  .spinner-master .horizontal {
    position: relative;
    float: left;
    margin-top: 4px;
  }

  .spinner-master .diagonal.part-2 {
    position: relative;
    float: left;
    margin-top: 4px;
  }



  .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .horizontal {
    opacity: 0;
  }

  .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-1 {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-top: 10px;
  }

  .spinner-master input[type=checkbox]:checked ~ .spinner-spin > .diagonal.part-2 {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: -12px;
  }

  a.menu-link {
    display: block;
    color: #fff;
    float: left;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 1.5em;
  }

  a.menu-link:hover {
    color: #000;
  }

  a.menu-link:after {
    content: "\2630";
    font-weight: normal;
  }

  a.menu-link.active:after {
    content: "\2715";
  }

  .menu-header {
    clear: both;
    min-width: inherit;
    float: none;
  }

  .menu-header, .menu-header > ul ul {
    overflow: hidden;
    max-height: 0;

  }

  .menu-header > li > ul.sub-menu {
    padding: 0px;
    border: none;
  }

  .menu-header.active, .menu-header > ul ul.active {
    max-height: 55em;
    margin-top: 35px;
  }

  .menu-header ul {
    display: inline;
  }

  .menu-header li, .menu-header > ul > li {
    display: block;
  }

  .menu-header > ul > li:last-of-type a {
    border: none;
  }

  .menu-header li a {
    color: #fff;
    display: block;
    padding: 0.8em;
    position: relative;
  }

  .menu-header li.has-submenu > a:after {
    content: '+';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.55em 0.5em;
  }

  .menu-header li.has-submenu > a.active:after {
    content: "-";
  }

  .menu-header ul ul > li a {

    padding: 10px 18px 10px 30px;
  }

  .menu-header ul li a:hover {

    color: #000;
  }

  .menu-header ul li.hover > a {

    color: #000;
  }

  .menu-header ul ul, .menu-header ul ul ul {
    display: inherit;
    position: relative;
    left: auto;
    top: auto;
    border: none;
  }

  .popular-courses .courses-wrapper .courses-item .item-title a h3 {
    font-size: 12px;
  }

  .popular-courses .courses-wrapper .courses-item .item-title img {
    display: block;
    width: 100%;
    max-width: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 7px;
}

.popular-courses .courses-wrapper .courses-item {
  padding: 0 5px;
}

.popular-courses .courses-wrapper .courses-item .author-review {
  margin-top: 15px;
  p {
    font-size: 10px;
  }
}

.popular-courses .courses-wrapper .courses-item .price-item p {
  font-size: 8px;
}

.popular-courses .courses-wrapper .courses-item .price-item span {
  font-size: 10px;
}

.popular-courses .courses-wrapper .courses-item .price-item {
  position: absolute;
  top: 0;
  right: 20px;
  background-color: #1e242c;
  padding: 4px 10px;
}

.courses-item:hover .button-more-slide {
  width: calc(100% - 10px);
}

.blue-btn-style {
  background-color: #82aede;
  color: #fff;
  font-family: Montserrat-Medium;
  font-size: 12px;
  text-align: center;
  width: 178px;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 0;
  text-transform: uppercase;
} 
}

@media screen and (max-width: 1420px) {
  .logotype img {
    max-width: 210px;
  }
}

@media screen and (max-width: 1200px) {
  .menu-header ul li>a {
    padding: 15px 6px;
  }

  .header-info-line__left-col a {
    width: 170px;
    text-align: center;
  }

  .header-info-line__left-col p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .select-container>select, .courses-filter-container .filter-toolbar .form-style form input {
    max-width: none;
  }

  .testimonials-container {
    padding-bottom: 30px;
  }

  .testimonials-container__wrapper__item {  
    box-shadow: 0 4px 20px #ccc;  
  }

  .testimonials-container__wrapper__item img {
    max-width: 130px;
  }

  .testimonials-container__wrapper__item .user-name {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .testimonials-container__wrapper__item .position-user {
    font-size: 10px;
  }

  .testimonials-container__wrapper__item p {
    font-size: 12px;
    margin-top: 15px;
    padding: 0 15px;
  }

  .form-style {
    margin-bottom: 20px;
  }

  .select-container>select {
    font-size: 12px;
  }

  .courses-filter-container .filter-toolbar .form-style form input {
    font-size: 12px;
  }

  .courses-filter-container .filter-toolbar .form-style form .search-btn-style {
    font-size: 12px;    
    max-width: 75px;
}

  .main-slider__slide-item {
    max-height: 340px;
    min-height: 315px;
    height: 100%;
  }

  .blocks-under-slider {
    margin-top: 0;
  }

  .main-slider__slide-item__slide-info h2 {
    font-size: 20px;
  }

  .blue-btn-style {
    margin-top: 15px;
  }  

  .main-slider__slide-item {
    background-position: top;
    background-size: contain;
  }
}

@media screen and (max-width: 530px) {
  .main-slider__slide-item {
    align-items: flex-end !important;
  }

  .white-bg {
    background-color: #fff;
  }

  .main-slider__slide-item__slide-info {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

  .item-wrapp img {
    width: 60px;
  }

  .blocks-under-slider .wrapp-items-block .item-wrapp h3 {
    font-size: 14px;
  }

  .blocks-under-slider .wrapp-items-block .item-wrapp {
    padding: 0 10px;
    margin-bottom: 25px;
  }

  .blocks-under-slider .wrapp-items-block .item-wrapp p {
    font-size: 10px;
  }

  .blocks-under-slider {
    margin-top: 60px;
  }  
}