{{#org-about-content}}
    <section class="about-content-container">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="about-content-container__wrapper row">
                <div class="about-content-container__wrapper__item col-12 col-lg-6">
                    <h3>Who We Are</h3>
                    <p>Luxe was started by a small group of photographers in 2016 with the mission of providing high quality, relevant, fully adjustable editing tools that speed up your editing workflow at an affordable price. Since that time, the Luxe community has grown to over 230,000 happy customers and over 20 professional creatives and business professionals on staff.</p>
                    <p>Our presets, actions, and overlays have improved our customers’ editing workflows, but we know our customers want to continue improving and fine-tuning their photography and editing skills. Luxe Academy was started to help achieve this.</p>
                    <p>Our philosophy has always been to make editing tools accessible to all photographers, and our sale prices generally reflect this. Because we make our products accessible to more photographers, we’re able to sell a larger volume, and this keeps us profitable.</p>
                </div>
                <div class="about-content-container__wrapper__item col-12 col-lg-6">
                    <img src="assets/img/about-img-1.jpg" alt="img">
                </div>
            </div>
            <div class="about-content-container__wrapper row">
                <div class="about-content-container__wrapper__item col-12 col-lg-6">
                    <h3>Giving Back</h3>
                    <p>Luxe has been a true gift for us, and we are fortunate to operate such a successful business. We believe in giving some of this back to the community and to those in-need. As such, we donate 5% of our profits every month.</p>
                    <p>Organizations we donate to</p>
                    <p>Animal rights organizations: American Humane, local SPCA, Jameson Animal Rescue, and more</p>
                    <p>The fight against cancer: Impact Melanoma, Melanoma Coalition, American Cancer Society</p>
                    <p>Other 501(c)(3) orgs: Joni & Friends, Union Gospel Mission, Woodland Hills Church, and more</p>
                    <p>Scholarships & product donations: We believe photography should be accessible to all photographers, and we often give Luxe products or scholarships to those that need it most</p>
                </div>
                <div class="about-content-container__wrapper__item col-12 col-lg-6">
                    <img src="assets/img/about-img-2.jpg" alt="img">
                </div>
            </div>
        </div>
    </section>
{{/org-about-content}}