{{#org-account-order-items}}
{{> ../molecules/title-h2-default}}
    <section class="account-order-items">
        <div class="account-details-content__nav-account">
            <div class="container">
                <div class="d-lg-flex align-items-center justify-content-lg-between">
                    <ul>
                        <li class="current-menu-item"><a href="#">ORDERS</a></li>
                        <li ><a href="#">ACCOUNT DETAILS</a></li>
                    </ul>
                    <a href="#"><img src="assets/img/logout-icon.png" alt="img">Logout</a>
                </div>
            </div>
        </div>
        <div class="container m70px">
            <h3>Purchased Courses</h3>
            <div class="account-order-items__item">
                <a href="#"><img src="assets/img/order-1.jpg" alt="img"></a>
                <div class="account-order-items__item__info">
                    <div>
                        <span>Product</span>
                        <p>Adobe Lightroom Classic CC - Intermediate </p>
                    </div>
                    <div>
                        <span>Price</span>
                        <p class="price"><strong>$19.00</strong></p>
                    </div>
                    <div>
                        <span>Date order</span>
                        <p>October 16, 2018</p>
                    </div>
                    <a class="view-order-btn" href="#">View more</a>
                </div>
            </div>
            <div class="account-order-items__item">
                <a href="#"><img src="assets/img/order-2.jpg" alt="img"></a>
                <div class="account-order-items__item__info">
                    <div>
                        <span>Product</span>
                        <p>Adobe Lightroom Classic CC - Intermediate </p>
                    </div>
                    <div>
                        <span>Price</span>
                        <p class="price"><strong>$19.00</strong></p>
                    </div>
                    <div>
                        <span>Date order</span>
                        <p>October 16, 2018</p>
                    </div>
                    <a class="view-order-btn" href="#">View more</a>
                </div>
            </div>
            <div class="account-order-items__item">
                <a href="#"><img src="assets/img/order-3.jpg" alt="img"></a>
                <div class="account-order-items__item__info">
                    <div>
                        <span>Product</span>
                        <p>Adobe Lightroom Classic CC - Intermediate </p>
                    </div>
                    <div>
                        <span>Price</span>
                        <p class="price"><strong>$19.00</strong></p>
                    </div>
                    <div>
                        <span>Date order</span>
                        <p>October 16, 2018</p>
                    </div>
                    <a class="view-order-btn" href="#">View more</a>
                </div>
            </div>
        </div>
    </section>
{{/org-account-order-items}}