{{#org-add-reply}}
<section class="add-comment-container" data-aos="fade-up" data-aos-offset="700">
    <div class="container">
        <div class="row justify-content-center">
            <div class="add-comment col-12 col-md-6 d-flex justify-content-center flex-column align-items-center">
                <h4 class="d-block w-100">Leave a Reply</h4>
                <form action="/">
                    <div class="d-flex align-items-center justify-content-between flex-column flex-lg-row mb-3">
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email" />
                    </div>                                    
                    <textarea placeholder="Message" cols="20" rows="7"></textarea>
                    <input class="reply-btn" type="submit" value="Post Comment" />
                </form>
            </div>
        </div>
    </div>
</section>
{{/org-add-reply}}