{{#org-contact-instructors}}
    <section class="contact-container">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="contact-container__instructors row m-0">
                <div class="contact-container__instructors__item text-center col-12 col-lg-4">
                    <h2>Course Questions</h2>
                    <p>Questions about which course to choose? Having technical issues?  Or just want to share general course  comments and feedback?</p>
                    <a class="blue-small-btn" href="#">Email us</a>
                </div>
                <div class="contact-container__instructors__item text-center col-12 col-lg-4">
                    <h2>Instructors</h2>
                    <p>To view more information about Luxe instructors, including website and social media profiles, view instructor bios.</p>
                    <a class="blue-small-btn" href="#">Instructor Bios</a>
                </div>
                <div class="contact-container__instructors__item text-center col-12 col-lg-4">
                    <h2>Everything Else</h2>
                    <p>We want to hear from you! If you have any questions or concerns, please don’t hesitate to reach out. We typically respond to all inquiries within 24 hours.</p>
                    <a class="blue-small-btn" href="#">Get in Touch</a>
                </div>
            </div>
        </div>
    </section>
{{/org-contact-instructors}}