{{#org-contact-info}}
    <section class="contact-info">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="contact-info__wrapper row m-0">
                <div class="contact-info__wrapper__item col-12 col-lg-4">
                    <div class="d-flex align-items-center info-title-container">
                        <img src="assets/img/email.png" alt="img">
                        <span>Business Address:</span>
                    </div>
                    <p>The Luxe Lens, Inc.</p>
                    <p>3041 Mission St # 2120</p> 
                    <p>San Francisco, CA 94110</p>
                </div>
                <div class="contact-info__wrapper__item col-12 col-lg-4">
                    <div class="d-flex align-items-center info-title-container">
                        <img src="assets/img/location.png" alt="img">
                        <span>Business Address:</span>
                    </div>
                    <p><a href="mailto:support@theluxelens.com">support@theluxelens.com</a></p>
                </div>
            </div>
        </div>
    </section>
{{/org-contact-info}}