{{#org-forum-tabs}}
    <section class="forum-tabs-container">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="naccs">
                <div class="grid">
                    <div class="gc col-12 col-lg-4">
                        <div class="menu">
                            <div class="active d-flex align-items-center">
                                <img src="assets/img/sidebar-img1.jpg" alt="img">
                                <p>Adobe Photoshop Secrets</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img2.jpg" alt="img">
                                <p>Fundamentals of  Photography – Basics</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img3.jpg" alt="img">
                                <p>Adobe Photoshop – Intermediate</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img4.jpg" alt="img">
                                <p>Adobe Lightroom Classic  CC 101 – Basics</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img5.jpg" alt="img">
                                <p>Adobe Lightroom Secrets</p>
                            </div>
                        </div>
                    </div>
                    <div class="gc col-12 col-lg-8">
                        <ul class="nacc">
                            <li class="active">
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                    <div class="add-question-block">
                                        <h2>Andriy Severa</h2>
                                        <form action="/">
                                            <input type="text" placeholder="Add answer..." />
                                            <input class="send-btn" type="submit" value="Send" />
                                        </form>
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                    <div class="add-question-block">
                                        <h2>Andriy Severa</h2>
                                        <form action="/">
                                            <input type="text" placeholder="Add answer..." />
                                            <input class="send-btn" type="submit" value="Send" />
                                        </form>
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                    <div class="add-question-block">
                                        <h2>Andriy Severa</h2>
                                        <form action="/">
                                            <input type="text" placeholder="Add answer..." />
                                            <input class="send-btn" type="submit" value="Send" />
                                        </form>
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                    <div class="add-question-block">
                                        <h2>Andriy Severa</h2>
                                        <form action="/">
                                            <input type="text" placeholder="Add answer..." />
                                            <input class="send-btn" type="submit" value="Send" />
                                        </form>
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                    <div class="add-question-block">
                                        <h2>Andriy Severa</h2>
                                        <form action="/">
                                            <input type="text" placeholder="Add answer..." />
                                            <input class="send-btn" type="submit" value="Send" />
                                        </form>
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">
                                                <a href="#">Preliminary comments</a>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                                
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="comment-parent">
                                        <div class="comment-parent__content">
                                            <h3>Veronika Gromatska</h3>
                                            <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                            <span class="date">Today  6:16 PM</span>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <div class="comment-child col-10 col-lg-10">                                               
                                                <div class="comment-child__content">
                                                    <h3>Veronika Gromatska</h3>
                                                    <p>This platform allows you to connect with your peers and be part of a virtual international café lounge where you can unlock one another's creativity. Welcome to an area dedicated for you to chat about topics that don't directly relate to product help and support. For questions or issues with your product, account or subscription, please post in the appropriate area using the menu on the Welcome Page.</p>
                                                    <span class="date">Today  6:16 PM</span>
                                                </div>                                                                                               
                                                <div class="answer-comment">
                                                    <h3>Andriy Severa</h3>
                                                    <form action="/">
                                                        <input type="text" placeholder="Write commentary..." />
                                                        <input class="send-btn" type="submit" value="Send" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>
                                </div>
                            </li>    
                        </ul>
                        <div id="loadMore">5 more answers <br>&#11167;</div>
                    </div>
                </div>
            </div>                
        </div>
    </section>
{{/org-forum-tabs}}