{{#org-forum-tabs}}
    <section class="forum-tabs-container">
        <div class="container">
            {{> ../molecules/title-h2-default}}
            <div class="naccs">
                <div class="grid">
                    <div class="gc col-12 col-lg-4">
                        <div class="menu">
                            <div class="active d-flex align-items-center">
                                <img src="assets/img/sidebar-img1.jpg" alt="img">
                                <p>Adobe Photoshop Secrets</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img2.jpg" alt="img">
                                <p>Fundamentals of  Photography – Basics</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img3.jpg" alt="img">
                                <p>Adobe Photoshop – Intermediate</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img4.jpg" alt="img">
                                <p>Adobe Lightroom Classic  CC 101 – Basics</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <img src="assets/img/sidebar-img5.jpg" alt="img">
                                <p>Adobe Lightroom Secrets</p>
                            </div>
                        </div>
                    </div>
                    <div class="gc col-12 col-lg-8">
                        <ul class="nacc">
                            <li class="active">
                                <div>
                                    <div class="current-tab-info">
                                        <img src="assets/img/tab-content-img.jpg" alt="img">
                                        <h2>Adobe Photoshop – Intermediate</h2>
                                    </div>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <p>2</p>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <p>3</p>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <p>4</p>
                                </div>
                            </li>                            
                            <li>
                                <div>
                                    <p>5</p>
                                </div>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
                
        </div>
    </section>
{{/org-forum-tabs}}