{{#org-header-info-line}}
    <section class="header-info-line d-lg-block d-none">
        <div class="container d-flex">
            <div class="col-6 header-info-line__left-col d-flex align-items-center">
                <p class="pr-4">All courses under $25. Ends Oct 14th.</p>
                <a href="#">Shop now</a>
            </div>
            <div class="col-6 header-info-line__right-col d-flex align-items-center justify-content-end">
                {{> ../molecules/search-form}}
            </div>
        </div>
    </section>
{{/org-header-info-line}}