{{#org-main-slider}}
    <section class="main-slider">
        <div class="slider-wrap">
            {{#slider-wrapp}}
                <div class="main-slider__slide-item" style="background-image: url({{{slide-img}}});">
                    <div class="container white-bg">
                        <div class="main-slider__slide-item__slide-info">
                            <h2>{{{h2-title}}}</h2>
                            <a class="blue-btn-style mt-45" href="{{{slide-link}}}">See courses</a>
                        </div>
                    </div>
                </div>
            {{/slider-wrapp}}
        </div>
    </section>
{{/org-main-slider}}