{{#org-my-account-container}}
{{> ../molecules/title-h2-default}}
    <section class="my-account">
        <div class="container">
            <div class="row m-0 d-md-flex justify-content-md-center">
                <div class="col-12 col-lg-6 my-account__create-form">
                    <form action="/">
                        <h3>Login</h3>                        
                        <input type="email" placeholder="Username or email address">
                        <input type="password" placeholder="Password">
                        <div class="d-flex flex-lg-row flex-wrap-reverse align-items-center justify-content-between">
                            <a href="#">Lost your password ?</a>
                            <input class="send-btn" type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="social-login">
        <div class="container">
            <div class="row m-0 d-md-flex justify-content-md-center">
                <div class="d-lg-flex align-items-lg-center justify-content-lg-between col-12 col-lg-6">
                    <p>Registration through other networks</p>
                    <div class="social-login__buttons">
                        <a class="blue-social" href="#"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a>
                        <a class="blue-social" href="#"><i class="fa fa-twitter" aria-hidden="true"></i> twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{/org-my-account-container}}