{{#org-reset-pass-info}}
{{> ../molecules/title-h2-default}}
    <section class="reset-pass-info">
        <div class="container">
            <div class="maxw-700 m-auto">                
                <div class="reset-content ">
                    <p>Lost your password? Please enter your username or email address.</p> 
                    <p>You will receive a link to create a new password via email.</p>
                    <form action="/" class="clearfix">
                        <input type="email" placeholder="Username or email address" />
                        <input class="reset-pass-btn" type="submit" value="Reset password" />
                    </form>
                </div>
            </div>
            
        </div>
    </section>
{{/org-reset-pass-info}}