{{#org-single-courses-content}}
    <section class="single-courses-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <video class="single-main-video mb-4" controls>
                        <source type="video/mp4" src="https://player.vimeo.com/external/289409333.hd.mp4?s=45dcb5375aa1be94e0f3cd63cc14a51789a1f80a&profile_id=174">
                    </video>
                    {{> ../organisms/single-courses-sidebar-mobile}}
                    <div class="pt-2">
                        <div class="author-info">
                            <div class="d-flex flex-wrap align-items-center">
                                <img src="assets/img/author-img.jpg" alt="img" />
                                <div class="author-info__about">                                    
                                    <h2>Jonathan Veith</h2>
                                    <div class="author-info__about__courses-counter">
                                        <img src="assets/img/vid-ico.png" alt="img">
                                        <span>2 Courses</span>
                                    </div>                                
                                </div>
                            </div>                            
                            <div class="author-info__text-content">
                                <p>Are you ready to take your photo editing skills to the next level? Do you have a basic working knowledge of the Adobe Lightroom software and now want to use the software to its full potential? With the Luxe Academy Lightroom Secrets course, you’ll learn in-demand and cutting-edge techniques. You’ll also gain key insights into Adobe Lightroom’s lesser-known (but still powerful!) features. In this online Lightroom Secrets course, learn how to unlock these amazing features and maximize your photo editing skills.</p> 
                                <p>Luxe Academy’s seasoned instructor, <strong><a href="#">Jonathan Veith</a></strong>, will teach you exciting new ways to navigate, organize, and edit your photographs both efficiently and practically with Lightroom software. With Lightroom Secrets, you’ll drastically improve your editing capabilities and workflow while saving time in the process!</p> 
                                <h4>Here are a few featured key elements of the Lightroom Secrets course.</h4>
                                <div class="d-lg-flex justify-content-lg-between">
                                    <ul>
                                        <li>Optimize your workspace</li>
                                        <li>Comprehensive keyboard shortcuts</li>
                                        <li>Demystification of the tone curve</li>
                                        <li>Use the Alt-Option key feature to your advantage</li>
                                    </ul>
                                    <ul>
                                        <li>Optimize your workspace</li>
                                        <li>Comprehensive keyboard shortcuts</li>
                                        <li>Demystification of the tone curve</li>
                                        <li>Use the Alt-Option key feature to your advantage</li>
                                    </ul>
                                </div>
                                <p>This Luxe Academy course is structured so that each video builds on the last. The interactive knowledge check quiz will let you know that you’re on track with your learning. You’ll also gain access to tip sheets and cheat sheets that you can download and access on-the-go. Who doesn’t want a comprehensive and handy Lightroom keyboard shortcuts cheat sheet?!</p>
                                <p>Are you ready to unlock Lightroom’s full potential with Luxe Academy’s Lightroom Secrets course? We’re ready for you.</p>
                                <p>A big shout out to the photographers that are featured throughout this course: <strong><a href="#">RGB Productions (Fire & Ice), Danielle Navratil, Amy Donohue, Rob Buttle, Jody Lynn Photography, Stephanie Jones, Jessica Kelley, Smitten & Swoon, & Tara Rochelle!</a></strong></p>
                            </div>
                            {{> ../organisms/single-courses-accordion}}
                        </div>
                    </div>
                </div>
                {{> ../organisms/single-courses-sidebar-desctop}}
                {{> ../organisms/single-page-review}}
            </div>
        </div>
    </section>
{{/org-single-courses-content}}