{{#org-single-courses-content}}
    <section class="single-courses-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <video class="single-main-video mb-4" controls>
                        <source type="video/mp4" src="https://player.vimeo.com/external/289409333.hd.mp4?s=45dcb5375aa1be94e0f3cd63cc14a51789a1f80a&profile_id=174">
                    </video>
                    {{> ../organisms/single-courses-sidebar-mobile}}
                    <div class="col-lg-8 col-12">
                        <div class="author-info">
                            <img src="assets/img/author-img.jpg" alt="img" />
                        </div>
                    </div>
                </div>
                {{> ../organisms/single-courses-sidebar-desctop}}
            </div>
        </div>
    </section>
{{/org-single-courses-content}}