{{#org-single-page-review}}
    <div class="col-lg-8 col-12">
        <h3 class="h3-default">REVIEWS</h3>
        <div class="review-block row">
            <div class="col-12 col-lg-5">
                <div class="review-block__rating">
                    <h2>Average Rating</h2>
                    <span class="review-block__rating__count">5</span>
                    <div class="review-block__rating__stars">
                        <img src="assets/img/review-stars.png" alt="img" />
                        <p>4 Ratings</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-7 d-flex justify-content-center">
                <div class="review-block__progress ">
                    <h2>Detailed Rating</h2>
                    <div class="review-block__progress__rate-result">
                        <div class="review-block__progress__rate-result__item d-flex">
                            <strong>Stars 5</strong>
                            <div class="d-flex align-items-center">
                                <div class="review-block__progress__rate-result__item__progress">
                                    <progress max="100" value="80" class="progress-main">
                                        <div class="" role="presentation">
                                            <span class="progress-value" style="width: 80%;">&nbsp;</span>
                                        </div>
                                    </progress>                    
                                </div>
                            </div>
                            <span>7</span>
                        </div>
                        <div class="review-block__progress__rate-result__item d-flex">
                            <strong>Stars 4</strong>
                            <div class="d-flex align-items-center">
                                <div class="review-block__progress__rate-result__item__progress">
                                    <progress max="100" value="50" class="progress-main">
                                        <div class="" role="presentation">
                                            <span class="progress-value" style="width: 80%;">&nbsp;</span>
                                        </div>
                                    </progress>                    
                                </div>
                            </div>
                            <span>5</span>
                        </div>
                        <div class="review-block__progress__rate-result__item d-flex">
                            <strong>Stars 3</strong>
                            <div class="d-flex align-items-center">
                                <div class="review-block__progress__rate-result__item__progress">
                                    <progress max="100" value="20" class="progress-main">
                                        <div class="" role="presentation">
                                            <span class="progress-value" style="width: 80%;">&nbsp;</span>
                                        </div>
                                    </progress>                    
                                </div>
                            </div>
                            <span>3</span>
                        </div>
                        <div class="review-block__progress__rate-result__item d-flex">
                            <strong>Stars 2</strong>
                            <div class="d-flex align-items-center">
                                <div class="review-block__progress__rate-result__item__progress">
                                    <progress max="100" value="60" class="progress-main">
                                        <div class="" role="presentation">
                                            <span class="progress-value" style="width: 80%;">&nbsp;</span>
                                        </div>
                                    </progress>                    
                                </div>
                            </div>
                            <span>2</span>
                        </div>
                        <div class="review-block__progress__rate-result__item d-flex">
                            <strong>Stars 1</strong>
                            <div class="d-flex align-items-center">
                                <div class="review-block__progress__rate-result__item__progress">
                                    <progress max="100" value="0" class="progress-main">
                                        <div class="" role="presentation">
                                            <span class="progress-value" style="width: 80%;">&nbsp;</span>
                                        </div>
                                    </progress>                    
                                </div>
                            </div>
                            <span>0</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-comments">
            <div class="review-comments__item">
                <h5>Peter F.</h5>
                <div class="time-and-stars">
                    <div>
                        <img src="assets/img/review-stars.png" alt="img" />
                    </div>
                    <span>2 months ago</span>
                </div>
                <div class="review-comments__item__content">
                    <p>I’m liking this course so far but I did have some installation issues with the presets. Apparently there are different preset types for the newer version of Lightroom and it was confusing to know which one to choose. They should have a course on installing presets !!</p>
                </div>
            </div>
            <div class="review-comments__item">
                <h5>Kristen McDowell</h5>
                <div class="time-and-stars">
                    <div>
                        <img src="assets/img/review-stars.png" alt="img" />
                    </div>
                    <span>2 months ago</span>
                </div>
                <div class="review-comments__item__content">
                    <p>I’m liking this course so far but I did have some installation issues with the presets. Apparently there are different preset types for the newer version of Lightroom and it was confusing to know which one to choose. They should have a course on installing presets !!</p>
                </div>
            </div>
            <div class="review-comments__item">
                <h5>fruitfulphotographer</h5>
                <div class="time-and-stars">
                    <div>
                        <img src="assets/img/review-stars.png" alt="img" />
                    </div>
                    <span>2 months ago</span>
                </div>
                <div class="review-comments__item__content">
                    <p>I’m liking this course so far but I did have some installation issues with the presets. Apparently there are different preset types for the newer version of Lightroom and it was confusing to know which one to choose. They should have a course on installing presets !!</p>
                </div>
            </div>            
        </div>        
    </div>
{{/org-single-page-review}}