{{#org-single-courses-accordion}}
    <section class="single-courses-accordion">       
        <h2 class="accordion-main-title">CURRICULUM</h2>
        <div class="accordion js-accordion">
            <h4>Section 1: Introduction</h4>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/vid-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">Video: Start Here!</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/clock-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/active-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <video class="single-main-video mb-4" controls>
                            <source type="video/mp4" src="https://player.vimeo.com/external/289409333.hd.mp4?s=45dcb5375aa1be94e0f3cd63cc14a51789a1f80a&profile_id=174">
                        </video>
                    </div>      
                </div>
            </div>                
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/lift-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">14 FREE Lightroom & ACR Presets</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/list-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/active-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>The content of this lesson is locked. To unlock it, you need to buy this course.</p>
                    </div>      
                </div>
            </div>                
        </div>
        <div class="accordion js-accordion">
            <h4>Section 2: Workspace</h4>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/vid-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">Video: Start Here!</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/clock-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <video class="single-main-video mb-4" controls>
                            <source type="video/mp4" src="https://player.vimeo.com/external/289409333.hd.mp4?s=45dcb5375aa1be94e0f3cd63cc14a51789a1f80a&profile_id=174">
                        </video>
                    </div>      
                </div>
            </div>                
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/lift-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">14 FREE Lightroom & ACR Presets</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/list-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>The content of this lesson is locked. To unlock it, you need to buy this course.</p>
                    </div>      
                </div>
            </div>                
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/lift-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">Lightroom Keyboard Shortcuts Cheat Sheet</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/download-ico.png" alt="" />
                            <span>Download</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>The content of this lesson is locked. To unlock it, you need to buy this course.</p>
                    </div>      
                </div>
            </div>                
        </div>     
        <div class="accordion js-accordion">
            <h4>Section 3: Workflow</h4>
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/vid-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">Video: Batch Adjustments</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <!-- <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/clock-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                             -->
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/locked-ico.png" alt="" />
                            <span>Locked</span>
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <video class="single-main-video mb-4" controls>
                            <source type="video/mp4" src="https://player.vimeo.com/external/289409333.hd.mp4?s=45dcb5375aa1be94e0f3cd63cc14a51789a1f80a&profile_id=174">
                        </video>
                    </div>      
                </div>
            </div>                
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/lift-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">14 FREE Lightroom & ACR Presets</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <!-- <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/list-ico.png" alt="" />
                            <span>14:34</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                             -->
                        <div class="icon-wrap">
                            <span class="spoiler">
                                preview
                            </span>
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>The content of this lesson is locked. To unlock it, you need to buy this course.</p>
                    </div>      
                </div>
            </div>                
            <div class="accordion__item js-accordion-item">
                <div class="accordion-header js-accordion-header d-flex align-items-center justify-content-between">
                    <div class="d-flex bullet-toggle">
                        <img class="flex-wrap" src="assets/img/lift-ico.png" alt="img" /> 
                        <p class="mb-0 mr-4">Lightroom Keyboard Shortcuts Cheat Sheet</p>
                    </div>
                    <div class="right-access d-flex align-items-center">
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/download-ico.png" alt="" />
                            <span>Download</span>
                        </div>
                        <div class="icon-wrap">
                            <img class="flex-wrap" src="assets/img/unactive-check-ico.png" alt="" />
                        </div>                            
                    </div>
                </div> 
                <div class="accordion-body js-accordion-body">
                    <div class="accordion-body__contents">
                        <p>The content of this lesson is locked. To unlock it, you need to buy this course.</p>
                    </div>      
                </div>
            </div>                
        </div>     
    </section>
{{/org-single-courses-accordion}}