{{#org-subscribe}}
    <section class="subscribe-container" style="background-image: url({{{bg-image}}});">
        <div class="container">
            <div class="subscribe-inner-wrap">
                {{> ../molecules/title-h2-default}}
                <h4>{{subtitle}}</h4>
                <form action="/">
                    <input type="email" />
                    <input class="subscribe-btn" type="submit" value="subscribe" />
                </form>
            </div>            
        </div>
    </section>
{{/org-subscribe}}