{{#org-testimonials}}
    <section class="testimonials-container">
        <div class="container">
            <div class="testimonials-container__wrapper row m-0">
                <div class="testimonials-container__wrapper__item col-md-4 col-12 text-center">
                    <img src="assets/img/user1.jpg" alt="img">
                    <h3 class="user-name">Tracy C.</h3>
                    <span class="position-user">Lightroom Classic CC - Basics</span>
                    <p>Luxe has always been my favorite present company and now I can say the’re my favorite tutorials company. Great company, great company, great customer service, great products.</p>
                </div>
                <div class="testimonials-container__wrapper__item col-md-4 col-12 text-center">
                    <img src="assets/img/user2.jpg" alt="img">
                    <h3 class="user-name">Michele F.</h3>
                    <span class="position-user">Fundamentals of Photography</span>
                    <p>Luxe has always been my favorite present company and now I can say the’re my favorite tutorials company. Great company, great company, great customer service, great products.</p>
                </div>
                <div class="testimonials-container__wrapper__item col-md-4 col-12 text-center">
                    <img src="assets/img/user3.jpg" alt="img">
                    <h3 class="user-name">Andrew R.</h3>
                    <span class="position-user">LR Basics, PS Basics</span>
                    <p>Luxe has always been my favorite present company and now I can say the’re my favorite tutorials company. Great company, great company, great customer service, great products.</p>
                </div>
            </div>
        </div>
    </section>
{{/org-testimonials}}