{{#p-404}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}  
    {{> ../organisms/404-content}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-404}}