{{#p-about}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../organisms/about-content}}
    {{> ../organisms/blocks-under-slider}}
    {{> ../organisms/testimonials}}
    {{> ../organisms/view-courses-block}}   
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-about}}