{{#p-account-details}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}  
    {{> ../organisms/account-details-content}}

    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-account-details}}