{{#p-blog}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../organisms/blog-tabs}} 
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-blog}}