{{#p-blog-single}}
{{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../organisms/blog-single-content}}
    {{> ../organisms/add-reply}}   
    {{> ../organisms/recent-posts}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-blog-single}}