{{#p-contact}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../organisms/contact-instructors}}
    {{> ../organisms/contact-info}}
    {{> ../organisms/view-courses-block}}   
    {{> ../organisms/footer}}
    {{> ../foot }} 
{{/p-contact}}