{{#p-course-single}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../molecules/title-h2-default}} 
    {{> ../organisms/single-courses-content}}
    {{> ../organisms/add-comment}}   
    {{> ../organisms/view-courses-block}}   
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-course-single}}