{{#p-courses}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/title-h2-default}}
    {{> ../organisms/courses-filter}}
    {{> ../organisms/popular-courses}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-courses}}