{{#p-create-account}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}  
    {{> ../organisms/create-account-container}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-create-account}}