{{#p-forum}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}

    {{> ../organisms/forum-tabs}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-forum}}