{{#p-index}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../organisms/main-slider}}
    {{> ../organisms/blocks-under-slider}}
    {{> ../organisms/popular-courses}}
    {{> ../foot }}
{{/p-index}}