{{#p-index}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../organisms/main-slider}}
    {{> ../organisms/blocks-under-slider}}
    {{> ../organisms/popular-courses}}
    {{> ../organisms/programs}}
    {{> ../organisms/subscribe}}
    {{> ../organisms/academy}}
    {{> ../organisms/recent-posts}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-index}}