{{#p-instructor-single}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}
    {{> ../organisms/instructor-content}}    
    {{> ../organisms/instructors-courses}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-instructor-single}}