{{#p-reset-password}}
    {{> ../head }}
    {{> ../organisms/header-info-line}}
    {{> ../organisms/nav-menu}}
    {{> ../molecules/single-page-bg}}  

    {{> ../organisms/reset-pass-info}}
    {{> ../organisms/footer}}
    {{> ../foot }}
{{/p-reset-password}}